<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddup.user.dao.UserVideoMapper">
	<resultMap id="BaseResultMap" type="com.ddup.user.dao.model.UserVideo">
		<constructor>
			<idArg column="video_id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="cover_pic" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="upload_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
			<arg column="video_length" jdbcType="REAL" javaType="java.lang.Float" />
			<arg column="video_format" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="video_url" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="publish_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="lng" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="lat" jdbcType="DOUBLE" javaType="java.lang.Double" />
			<arg column="geo_num" jdbcType="BIGINT" javaType="java.lang.Long" />
			<arg column="iwcode" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="geo_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		video_id, user_id, cover_pic, upload_time, video_length, video_format,
		video_url,
		publish_flag, lng, lat, geo_num, iwcode, geo_level
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_video
		where video_id = #{videoId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user_video
		where video_id = #{videoId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.ddup.user.dao.model.UserVideo">
		<selectKey resultType="java.lang.Long" keyProperty="videoId"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_video (video_id, user_id, cover_pic,
		upload_time, video_length, video_format,
		video_url, publish_flag, lng,
		lat, geo_num, iwcode,
		geo_level)
		values (#{videoId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
		#{coverPic,jdbcType=VARCHAR},
		#{uploadTime,jdbcType=TIMESTAMP}, #{videoLength,jdbcType=REAL}, #{videoFormat,jdbcType=VARCHAR},
		#{videoUrl,jdbcType=VARCHAR}, #{publishFlag,jdbcType=INTEGER},
		#{lng,jdbcType=DOUBLE},
		#{lat,jdbcType=DOUBLE}, #{geoNum,jdbcType=BIGINT}, #{iwcode,jdbcType=VARCHAR},
		#{geoLevel,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.ddup.user.dao.model.UserVideo">
		<selectKey resultType="java.lang.Long" keyProperty="videoId"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user_video
		<trim prefix="(" suffix=")" suffixOverrides=",">
			video_id,
			<if test="userId != null">
				user_id,
			</if>
			<if test="coverPic != null">
				cover_pic,
			</if>
			<if test="uploadTime != null">
				upload_time,
			</if>
			<if test="videoLength != null">
				video_length,
			</if>
			<if test="videoFormat != null">
				video_format,
			</if>
			<if test="videoUrl != null">
				video_url,
			</if>
			<if test="publishFlag != null">
				publish_flag,
			</if>
			<if test="lng != null">
				lng,
			</if>
			<if test="lat != null">
				lat,
			</if>
			<if test="geoNum != null">
				geo_num,
			</if>
			<if test="iwcode != null">
				iwcode,
			</if>
			<if test="geoLevel != null">
				geo_level,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{videoId,jdbcType=BIGINT},
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="coverPic != null">
				#{coverPic,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				#{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="videoLength != null">
				#{videoLength,jdbcType=REAL},
			</if>
			<if test="videoFormat != null">
				#{videoFormat,jdbcType=VARCHAR},
			</if>
			<if test="videoUrl != null">
				#{videoUrl,jdbcType=VARCHAR},
			</if>
			<if test="publishFlag != null">
				#{publishFlag,jdbcType=INTEGER},
			</if>
			<if test="lng != null">
				#{lng,jdbcType=DOUBLE},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=DOUBLE},
			</if>
			<if test="geoNum != null">
				#{geoNum,jdbcType=BIGINT},
			</if>
			<if test="iwcode != null">
				#{iwcode,jdbcType=VARCHAR},
			</if>
			<if test="geoLevel != null">
				#{geoLevel,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ddup.user.dao.model.UserVideo">
		update user_video
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="coverPic != null">
				cover_pic = #{coverPic,jdbcType=VARCHAR},
			</if>
			<if test="uploadTime != null">
				upload_time = #{uploadTime,jdbcType=TIMESTAMP},
			</if>
			<if test="videoLength != null">
				video_length = #{videoLength,jdbcType=REAL},
			</if>
			<if test="videoFormat != null">
				video_format = #{videoFormat,jdbcType=VARCHAR},
			</if>
			<if test="videoUrl != null">
				video_url = #{videoUrl,jdbcType=VARCHAR},
			</if>
			<if test="publishFlag != null">
				publish_flag = #{publishFlag,jdbcType=INTEGER},
			</if>
			<if test="lng != null">
				lng = #{lng,jdbcType=DOUBLE},
			</if>
			<if test="lat != null">
				lat = #{lat,jdbcType=DOUBLE},
			</if>
			<if test="geoNum != null">
				geo_num = #{geoNum,jdbcType=BIGINT},
			</if>
			<if test="iwcode != null">
				iwcode = #{iwcode,jdbcType=VARCHAR},
			</if>
			<if test="geoLevel != null">
				geo_level = #{geoLevel,jdbcType=INTEGER},
			</if>
		</set>
		where video_id = #{videoId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ddup.user.dao.model.UserVideo">
		update user_video
		set user_id = #{userId,jdbcType=BIGINT},
		cover_pic = #{coverPic,jdbcType=VARCHAR},
		upload_time = #{uploadTime,jdbcType=TIMESTAMP},
		video_length = #{videoLength,jdbcType=REAL},
		video_format = #{videoFormat,jdbcType=VARCHAR},
		video_url = #{videoUrl,jdbcType=VARCHAR},
		publish_flag = #{publishFlag,jdbcType=INTEGER},
		lng = #{lng,jdbcType=DOUBLE},
		lat = #{lat,jdbcType=DOUBLE},
		geo_num = #{geoNum,jdbcType=BIGINT},
		iwcode = #{iwcode,jdbcType=VARCHAR},
		geo_level = #{geoLevel,jdbcType=INTEGER}
		where video_id = #{videoId,jdbcType=BIGINT}
	</update>
</mapper>